@import '~bootstrap/scss/bootstrap';

.firstTitle {
  margin: 40px;
}

.firstTitle_content {
  font-size: 40px;
  text-align: center;
  // animation: title1 10s infinite, title1Size 10s infinite;
  // @keyframes title1 {
  //   0% { color: red }
  //   25% { color: green }
  //   50% { color: cyan }
  //   100% { color: red }
  // }
  // @keyframes title1Size {
  //   0% { font-size: 40px }
  //   50% { font-size: 50px }
  //   100% { font-size: 40px }
  // }
  display: inline;
  position: absolute;
  bottom: 50%;
  left: 29%;
}

.firstTitle_content2 {
  font-size: 40px;
  text-align: center;
  // animation: title1 10s infinite, title1Size 10s infinite;
  // @keyframes title1 {
  //   0% { color: red }
  //   25% { color: green }
  //   50% { color: cyan }
  //   100% { color: red }
  // }
  // @keyframes title1Size {
  //   0% { font-size: 40px }
  //   50% { font-size: 50px }
  //   100% { font-size: 40px }
  // }
  display: inline;
  position: absolute;
  bottom: 43%;
  left: 20%;
}

body {
  background-image: url('../images/5bfbc6fc218ebe70-bees-bombs-rainbow-spiral.gif');
  background-size: cover;
}

// controls the area around home
.navbar-brand {
  background-color: black;
  font-size: 300px;
  &:hover {
    background-color: red;
    text-decoration: underline;
  }
}

// controls the middle part of the navigation bar (wide bar on top)
#basic-navbar-nav {
  background-color: transparent;
}

// controls the area around sign up, sign in
.nav-link {
  background-color: black;
  font-size: 111%;
  border-radius: 50px;
  &:hover {
    background-color: red;
    text-decoration: underline;
  }
}

// controls the entire navigation bar (the parts without words)
.navbar {
  background-color: transparent;
  color: black;
}
