@import '~bootstrap/scss/bootstrap';

.channels {
  fill-opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: left;
  border-left: 10px solid red;
  border-right: 10px solid red; 
  border-top: 10px solid red;
  border-bottom: 10px solid red;
  width: 25vw;
  height: 80vh;
  font-size: 50px;
  text-align: center;
  position: absolute;
  color: red;
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 10px solid blue;
  border-right: 10px solid blue;
  border-top: 10px solid blue;
  border-bottom: 10px solid blue;
  width: 50vw;
  height: 80vh;
  font-size: 50px;
  text-align: center;
  position: absolute;
  left: 25%;
  color: blue;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 10px solid green;
  border-right: 10px solid green;
  border-top: 10px solid green;
  border-bottom: 10px solid green;
  width: 25vw;
  height: 80vh;
  font-size: 50px;
  text-align: center;
  position: absolute;
  right: 0%;
  color: green;
}

// body {
//   background-color: black;
//   border: 5px solid black;
// }