@import '~bootstrap/scss/bootstrap';

.changePasswordStyle {
  color: red;
  font-size: 40px;
}

.backButton {
  color: white;
  width: 60px;
  height: 45px;
  border-radius: 30%;
  background-color: black;
  outline: none;
  position: absolute;
  left: 1%;
  font-size: 25px;
  &:hover {
    text-decoration: none;
    color: red;
  }
}