@import '~bootstrap/scss/bootstrap';

.changePasswordStyle {
  color: red;
  font-size: 40px;
}

.backButton {
  color: green;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 45%;
  outline: none;
  position: absolute;
  left: 2%;
}