@import '~bootstrap/scss/bootstrap';

Body {
  background-image: url('../images/5bfbc6fc218ebe70-bees-bombs-rainbow-spiral.gif');
  // background-image: url('../images/Screenshot_4.png');
  background-size: cover;
  // overflow: auto;
  // position: absolute;
  // height: 100vh;
  // width: 100vw;
}

.firstPage {
  margin: 40px;
}

.firstPage_content {
  font-size: 40px;
  text-align: center;
  display: inline;
  position: absolute;
  bottom: 50vh;
  left: 29vw;
  color: white;
  background-color: black;
  border-radius: 15%;
}

.firstPage_content2 {
  font-size: 40px;
  text-align: center;
  display: inline;
  position: absolute;
  bottom: 40vh;
  left: 20vw;
  color: white;
  background-color: black;
  border-radius: 15%;
}

// controls the area around home
.navbar-brand {
  background-color: black;
  font-size: 300px;
  &:hover {
    background-color: red;
    text-decoration: underline;
  }
}

// controls the middle part of the navigation bar (wide bar on top)
#basic-navbar-nav {
  background-color: transparent;
}

// controls the area around sign up, sign in
.nav-link {
  background-color: black;
  font-size: 111%;
  border-radius: 50px;
  &:hover {
    background-color: red;
    text-decoration: underline;
  }
}

// controls the entire navigation bar (the parts without words)
.navbar {
  background-color: transparent;
  color: black;
}
