@import '~bootstrap/scss/bootstrap';
body {
  overflow: hidden;
}
.channels {
  fill-opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: left;
  border-top: 5px solid rgb(150, 55, 59);
  width: 25vw;
  height: 60vh;
  font-size: 50px;
  text-align: center;
  position: absolute;
  left: 0%;
  bottom: 30%;
  color: red;
  background-color: black;
  overflow: auto;
}
.chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 5px solid rgb(150, 55, 59);
  border-right: 5px solid rgb(150, 55, 59);
  border-top: 5px solid rgb(150, 55, 59);
  width: 75vw;
  height: 100vh;
  font-size: 50px;
  text-align: center;
  position: absolute;
  left: 25%;
  bottom: -10%;
  color: blue;
  background-color: black;
  overflow: auto;
}
.misc {
  font-size: 50px;
  text-align: center;
  position: absolute;
  right: 0%;
  color: green;
}
.typeMessage {
  outline: none;
  height: 15%;
  width: 85%;
  position: absolute;
  left: 0%;
  bottom: 10%;
  background-color: transparent;
  font-size: 70%;
  color: white;
  border-top: 3px solid rgb(150, 55, 59);
  border-right: 3px solid rgb(150, 55, 59);
  border-bottom: none;
  border-left: none;
}
.sendMessageButton {
  outline: none;
  height: 15%;
  width: 15%;
  background-image: url('https://image.flaticon.com/icons/png/512/60/60525.png');
  background-color: white;
  border-top: 3px solid rgb(150, 55, 59);
  border-bottom: none;
  border-left: none;
  border-right: none;
  background-size: cover;
  background-position: absolute;
  background-position-x: 80%;
  background-position-y: -20px;
  position: absolute;
  bottom: 10%;
  right: 0%;
}
.sentMessage {
  text-align: center;
  border: 3px solid rgb(150, 55, 59);
  border-radius: 4px;
  word-wrap: normal;
  word-break: break-all;
  color: white;
  width: 100%;
  height: 75%;
  position: absolute;
  right: 0%;
  bottom: 25%;
  overflow: auto;
  &:hover{
    color: red;
  }
}
.chatArray {
  text-align: center;
  position: absolute;
  top: 0vh;
  color: black;
  font-size: 20px;
}
.chatTextStyle{
  color: white;
}
.channels {
  outline: none;
}
.channelCreator{
  outline: none;
  position: absolute;
  top: 45%;
  right: 35%;
  height: 10%;
  width: 40%;
  font-size: 50%;
  text-align: center;
  background-color: transparent;
  border-radius: 35%;
  animation: channelNames 10s infinite;
  @keyframes channelNames {
    from {
      text-shadow: 0 0 10px blue, 0 0 20px white, 0 0 30px red, 0 0 40px blue, 0 0 50px white, 0 0 60px red, 0 0 70px blue;
    }
    to {
      text-shadow: 0 0 10px red, 0 0 20px white, 0 0 30px blue, 0 0 40px red, 0 0 50px white, 0 0 60px blue, 0 0 70px red;
    }
  }
  color: white;
  &:hover {
    color: cyan;
    text-decoration: none;
  }
  border: none;
}
.channelsCreated {
  border: 3px solid black;
  position: absolute;
  top: 70%;
  left: 3%;
  width: 20vw;
  height: 50%;
  overflow: auto;
}
.createdChannelText {
  color: white;
}
.defaultChannels{
  fill-opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: left;
  border-top: 5px solid rgb(150, 55, 59);
  width: 25vw;
  height: 50vh;
  font-size: 50px;
  text-align: center;
  position: absolute;
  top: 65%;
  left: 0%;
  color: red;
  overflow: auto;
  background-color: black;
}
.channel1 {
  outline: none;
  position: absolute;
  top: 50%;
  right: 35%;
  height: 10%;
  width: 40%;
  font-size: 50%;
  text-align: center;
  background-color: transparent;
  border-radius: 35%;
  animation: channelNames 10s infinite;
  @keyframes channelNames {
    from {
      text-shadow: 0 0 10px blue, 0 0 20px white, 0 0 30px red, 0 0 40px blue, 0 0 50px white, 0 0 60px red, 0 0 70px blue;
    }
    to {
      text-shadow: 0 0 10px red, 0 0 20px white, 0 0 30px blue, 0 0 40px red, 0 0 50px white, 0 0 60px blue, 0 0 70px red;
    }
  }
  color: white;
  &:hover {
    color: cyan;
  }
  border: none;
}
.channel2 {
  outline: none;
  position: absolute;
  top: 60%;
  right: 35%;
  height: 10%;
  width: 40%;
  font-size: 50%;
  text-align: center;
  border-radius: 25%;
  background-color: transparent;
  animation: channelNames 10s infinite;
  @keyframes channelNames {
    from {
      text-shadow: 0 0 20px blue, 0 0 30px white, 0 0 40px red, 0 0 50px blue, 0 0 60px white, 0 0 70px red, 0 0 80px blue;
    }
    to {
      text-shadow: 0 0 10px red, 0 0 20px white, 0 0 30px blue, 0 0 40px red, 0 0 50px white, 0 0 60px blue, 0 0 70px red;
    }
  }
  border: none;
  color: white;
  &:hover {
    color: cyan;
  }
}
.channel3 {
  outline: none;
  position: absolute;
  right: 35%;
  height: 10%;
  width: 40%;
  font-size: 50%;
  text-align: center;
  border-radius: 25%;
  background-color: transparent;
  animation: channelNames 10s infinite;
  @keyframes channelNames {
    from {
      text-shadow: 0 0 20px blue, 0 0 30px white, 0 0 40px red, 0 0 50px blue, 0 0 60px white, 0 0 70px red, 0 0 80px blue;
    }
    to {
      text-shadow: 0 0 10px red, 0 0 20px white, 0 0 30px blue, 0 0 40px red, 0 0 50px white, 0 0 60px blue, 0 0 70px red;
    }
  }
  border: none;
  top: 45%;
  color: white;
  &:hover {
    color: cyan;
  }
}
.channel4 {
  outline: none;
  position: absolute;
  right: 35%;
  height: 10%;
  width: 40%;
  font-size: 50%;
  text-align: center;
  border-radius: 25%;
  background-color: transparent;
  animation: channelNames 10s infinite;
  @keyframes channelNames {
    from {
      text-shadow: 0 0 20px blue, 0 0 30px white, 0 0 40px red, 0 0 50px blue, 0 0 60px white, 0 0 70px red, 0 0 80px blue;
    }
    to {
      text-shadow: 0 0 10px red, 0 0 20px white, 0 0 30px blue, 0 0 40px red, 0 0 50px white, 0 0 60px blue, 0 0 70px red;
    }
  }
  border: none;
  top: 55%;
  color: white;
  &:hover {
    color: cyan;
  }
}
.channel5 {
  outline: none;
  position: absolute;
  right: 35%;
  height: 10%;
  width: 40%;
  font-size: 50%;
  text-align: center;
  border-radius: 25%;
  background-color: transparent;
  animation: channelNames 10s infinite;
  @keyframes channelNames {
    from {
      text-shadow: 0 0 20px blue, 0 0 30px white, 0 0 40px red, 0 0 50px blue, 0 0 60px white, 0 0 70px red, 0 0 80px blue;
    }
    to {
      text-shadow: 0 0 10px red, 0 0 20px white, 0 0 30px blue, 0 0 40px red, 0 0 50px white, 0 0 60px blue, 0 0 70px red;
    }
  }
  border: none;
  top: 65%;
  color: white;
  &:hover {
    color: cyan;
  }
}
.channel6 {
  outline: none;
  position: absolute;
  right: 35%;
  height: 10%;
  width: 40%;
  font-size: 50%;
  text-align: center;
  border-radius: 25%;
  background-color: transparent;
  animation: channelNames 10s infinite;
  @keyframes channelNames {
    from {
      text-shadow: 0 0 20px blue, 0 0 30px white, 0 0 40px red, 0 0 50px blue, 0 0 60px white, 0 0 70px red, 0 0 80px blue;
    }
    to {
      text-shadow: 0 0 10px red, 0 0 20px white, 0 0 30px blue, 0 0 40px red, 0 0 50px white, 0 0 60px blue, 0 0 70px red;
    }
  }
  border: none;
  top: 75%;
  color: white;
  &:hover {
    color: cyan;
  }
}
