@import '~bootstrap/scss/bootstrap';

.Box {
  margin: 40px;
}

.Box_content {
  font-size: 40px;
  text-align: center;
  animation: test 10s infinite;
  @keyframes test {
    0% { color: red }
    25% { color: green }
    50% { color: cyan }
    100% { color: red }
  }
}

#test {
  animation: test 10s infinite;
  @keyframes test {
    0% { color: red }
    25% { color: green }
    50% { color: cyan }
    100% { color: red }
  }
  font-size: 30px;
  text-align: center;
  position: absolute;
}

body {
  background-image: url('./images/b29cd08217831e2537b1dbf4b84efc5f.png');
  background-size: cover;
}

// #signIn {
//   color: green;
//   font-size: 350px;
// }


// // controls the area around home
// .navbar-brand {
//   background-color: black;
//   &:hover {
//     background-color: red;
//   }
// }

// // controls the middle part of the navigation bar (wide bar on top)
// #basic-navbar-nav {
//   background-color: white;
// }

// // controls the area around sign up, sign in
// .nav-link {
//   background-color: black;
//   &:hover {
//     background-color: red;
//   }
// }

// // controls the entire navigation bar (the parts without words)
// .navbar {
//   background-color: white;
//   color: black;
// }

// #signIn {
//   font-size: 350px;
// }