@import '~bootstrap/scss/bootstrap';

.deleteChat {
  background: none;
  font-size: 10px;
  border: none;
  color: #3480eb;
}

.deleteChat :hover {
  text-decoration: line-through;
  color: #2a64b5;
}

.sentMessage {
  border: 1px solid grey;
  border-radius: 5px;
  height: 250px;
  overflow-y: scroll;
}

.chat-container {
  position: relative;
}

.container-alert {
  z-index: 2;
}

.navbar-stuff {
  margin-bottom: 20px;
}
