@import '~bootstrap/scss/bootstrap';

.Box {
  margin: 40px;
  border: 5px solid black;
}

.Box_content {
  font-size: 40px;
  text-align: center;
  animation: test 10s infinite;
  @keyframes test {
    0% { color: red }
    25% { color: green }
    50% { color: cyan }
    100% { color: red }
  }
}

#test {
  animation: test 10s infinite;
  @keyframes test {
    0% { color: red }
    25% { color: green }
    50% { color: cyan }
    100% { color: red }
  }
  font-size: 30px;
  text-align: center;
  position: absolute;
}

body {
  background-image: url('./images/b29cd08217831e2537b1dbf4b84efc5f.png');
  background-size: cover;
}